.loadMoreButton {
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    width: 120px;
    /* збільшено */
    height: 40px;
    /* збільшено */
    margin: 20px auto;
    display: block;
    background-color: #28a745;
    /* яскраво-зелений для тесту */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.catalog {
    border: 1px solid red;
}

.carGrid {
    border: 1px solid blue;
}